STM32_L476RG_TSC-Test/Node-Red.json
[{"id":"5a53fa19.253084","type":"tab","label":"Node-red Comport Tool","disabled":true,"info":"Comporttool: 87d22404bc41d55ce95d6682886975ac6253c7aa"},{"id":"4c1e696d.77c798","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d71d039f.545af","type":"serial-port","z":"","serialport":"COM8","serialbaud":"1000000","databits":"8","parity":"none","stopbits":"1","newline":"0x04","bin":"bin","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"10ec7afc.989325","type":"serial-port","z":"","serialport":"COM8","serialbaud":"1000000","databits":"8","parity":"none","stopbits":"1","newline":"0x04","bin":"bin","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"500f88c3.03afe8","type":"serial-port","z":"","serialport":"COM8","serialbaud":"1000000","databits":"8","parity":"none","stopbits":"1","newline":"0x04","bin":"bin","out":"char","addchar":true,"responsetimeout":"10000"},{"id":"362af04c.95576","type":"serial-port","z":"","serialport":"COM7","serialbaud":"1000000","databits":"8","parity":"none","stopbits":"1","newline":"]","bin":"false","out":"char","addchar":false,"responsetimeout":"10000"},{"id":"ee95f7e5.582158","type":"serial in","z":"5a53fa19.253084","name":"","serial":"500f88c3.03afe8","x":70,"y":320,"wires":[["2ed0a5b5.20c16a"]]},{"id":"ffeffd3a.8ff9d","type":"tcp out","z":"5a53fa19.253084","host":"","port":"1881","beserver":"server","base64":false,"end":false,"name":"ComportToolServer","x":1650,"y":320,"wires":[]},{"id":"f87b942c.7b3e58","type":"function","z":"5a53fa19.253084","name":"ToJson","func":"msg.payload = JSON.stringify(msg.payload)\nmsg.payload =  msg.payload + '\\n'\nreturn msg","outputs":1,"noerr":0,"x":1040,"y":480,"wires":[[]]},{"id":"2ed0a5b5.20c16a","type":"function","z":"5a53fa19.253084","name":"ETB_Remover","func":"var ForbiddenChars = Object.freeze({\n  'EOT': 0x04,\n  'ENQ': 0x05,\n  'ACK': 0x6,\n  'NAK':0x15,\n  'SYN':0x16,\n  'ETB':0x17,\n  'CAN':0x18,\n  'OFFSET':0xE0\n});\n\nvar ForbiddenChars2 = {\n  0x04: 0x04,\n  0x05: 0x05,\n  0x06: 0x6,\n  0x15:0x15,\n  0x16:0x16,\n  0x17:0x17,\n  0x18:0x18,\n};\n\nvar frame = Array.from(msg.payload);\nvar output = [];\nvar substractor = 0;\n\nframe.pop() //EOT\nframe.shift() //SOT\n\nframe.forEach((byte, index) => {\n    if(byte in ForbiddenChars2){\n        substractor = ForbiddenChars.OFFSET;\n    }else{\n        output.push(byte - substractor)\n        substractor = 0;\n    }\n});\n\nvar newMsg = {payload: output};\nreturn newMsg;","outputs":1,"noerr":0,"x":220,"y":320,"wires":[["99e3ac46.5397f"]]},{"id":"99e3ac46.5397f","type":"function","z":"5a53fa19.253084","name":"ChecksumChecker","func":"var tmp = Array.from(msg.payload);\nvar checksum = tmp.pop();\n\nvar calculatedChecksum = 0;\ntmp.forEach((actualByte, index) => {\n    calculatedChecksum += actualByte;    \n});\ncalculatedChecksum = calculatedChecksum % 256;\n\nvar newMsg;\nif(calculatedChecksum === checksum){\n    var newMsg = {payload: tmp};\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["1b402c8f.e17eb3"]]},{"id":"1b402c8f.e17eb3","type":"function","z":"5a53fa19.253084","name":"HeaderRemover","func":"var tmp = Array.from(msg.payload);\n\ntmp.shift()\ntmp.shift()\ntmp.shift()\n\nvar newMsg = {payload: tmp};\nreturn newMsg;","outputs":1,"noerr":0,"x":720,"y":320,"wires":[["ae2e303b.2fe49"]]},{"id":"ae2e303b.2fe49","type":"function","z":"5a53fa19.253084","name":"BytesFolder","func":"var tmp = Array.from(msg.payload);\n\n\nvar outputArray = []\nvar tmpElement\ntmp.forEach((actualByte, index) => {\n    \n    if(index % 2 === 0){\n        tmpElement = actualByte\n    }else{\n        outputArray.push((actualByte <<8) + (tmpElement & 0xff))\n    }\n});\n\nvar newMsg = {payload: outputArray};\nreturn newMsg;","outputs":1,"noerr":0,"x":930,"y":320,"wires":[["4eae6fb2.f14"]]},{"id":"fb4ce296.941d","type":"tcp in","z":"5a53fa19.253084","name":"FrequencyServer","server":"server","host":"","port":"1882","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"Frequency","base64":false,"x":420,"y":580,"wires":[["32cf0b9b.b32cc4"]]},{"id":"32cf0b9b.b32cc4","type":"function","z":"5a53fa19.253084","name":"","func":"var frequency = context.get(\"frequency\")||\"frequency: 0\";\nif(msg.topic === \"Frequency\"){\n    context.set(\"frequency\", msg.payload)\n    msg = null\n} else {\n    msg.payload = \"{\" + msg.payload +\", \"+ frequency + \"}\" +\"\\n\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":580,"wires":[["ffeffd3a.8ff9d"]]},{"id":"f7af8ee5.d12d7","type":"function","z":"5a53fa19.253084","name":"JSON_Prep","func":"msg.payload = \"data:\" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":320,"wires":[["32cf0b9b.b32cc4"]]},{"id":"4eae6fb2.f14","type":"json","z":"5a53fa19.253084","name":"","property":"payload","action":"","pretty":false,"x":1070,"y":380,"wires":[["f7af8ee5.d12d7"]]},{"id":"d88995ce.264108","type":"debug","z":"5a53fa19.253084","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1570,"y":720,"wires":[]},{"id":"f6205806.dc6278","type":"serial in","z":"4c1e696d.77c798","name":"STM32_L476_TSC-Test","serial":"362af04c.95576","x":410,"y":320,"wires":[["a630582a.c69af8"]]},{"id":"9405fabb.a55288","type":"tcp out","z":"4c1e696d.77c798","host":"","port":"1881","beserver":"server","base64":false,"end":false,"name":"","x":1220,"y":360,"wires":[]},{"id":"d8887647.d9bc48","type":"debug","z":"4c1e696d.77c798","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":220,"wires":[]},{"id":"c4035208.eeac2","type":"tcp in","z":"4c1e696d.77c798","name":"FrequencyServer","server":"server","host":"","port":"1882","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"Frequency","base64":false,"x":280,"y":480,"wires":[["a630582a.c69af8"]]},{"id":"a630582a.c69af8","type":"function","z":"4c1e696d.77c798","name":"","func":"var frequency = context.get(\"frequency\")||\"frequency: 0\";\nif(msg.topic === \"Frequency\"){\n    context.set(\"frequency\", msg.payload)\n    msg = null\n} else {\n    msg.payload = \"{\" + msg.payload +\", \"+ frequency + \"}\" +\"\\n\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":400,"wires":[["9405fabb.a55288","d8887647.d9bc48"]]}]